# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db